node_modules/
__pycache__/
*.pyc
.env
/context/
venv/
db.sqlite3

# Firebase Private Keys
firebase-*.json


# Database Wildcards
*.sqlite3

# Media and Uploads
media/
backend/media/


# Instructions + Further Context
.agents/AGENTS.md
.agents/MEMORY.md
