node_modules/
__pycache__/
*.pyc
.env
/context/
venv/
db.sqlite3

# Firebase Private Keys
firebase-*.json


# Database Wildcards
*.sqlite3

# Media and Uploads
media/
backend/media/
backend/issue_reports/


# Instructions + Further Context
.agents/AGENTS.md
.agents/MEMORY.md


# Cmake build artifacts
build/
clearance.pdf